<!DOCTYPE html>
<html>
<head>
    <title>Payroll Management System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Payroll Management System</h1>
    </header>

    <main>
        <div class="imgcontainer">
            <div class="button-store">
                <a class="button" href="dropdown_login.html">Log In</a>
                <a class="button" href="signup.html">Sign Up</a>
            </div>
            <h2>This system allows you to efficiently manage <br> payroll for your employees, track financial records, and streamline your organization's payroll process.</h2>
        </div>
    </main>
</body>
</html>
